.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.list-item-wrapper {
    padding: .5rem;
}

body {
    background: #282c34;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: "Arial", sans-serif;
}

a:hover {
    color: #b5ada1;
}
