.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item-wrapper {
    padding: .3rem;
}

a {
    text-decoration: none;
    color: #282c34;
    font-family: "Arial", sans-serif;
}

a:hover {
    color: #b5ada1;
}
